.header:global(.ant-layout-header) {
  position: fixed;
  overflow: visible;
  top: 0;
  left: 0;
  box-sizing: border-box;
  height: 64px;
  width: 100%;
  padding: 0;
  z-index: 10;
  color: #fff;
  background: #1677ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: padding-left 250ms ease;
}

@media (min-width: 501px) and (max-width: 768px) {
  .header.withSidebar:global(.ant-layout-header) {
    padding-left: 256px;
  }
}

@media (min-width: 769px) {
  .header.withSidebar:global(.ant-layout-header) {
    padding-left: 300px;
  }
}

@media (max-width: 500px) {
  .header {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  }
}

.left {
  display: flex;
  align-items: center;
  min-width: 0;
}

.title {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user {
  flex-shrink: 0;
  padding: 0 24px;
  font-size: 15px;
  white-space: nowrap;
}

.trigger {
  color: #fff;
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}
